<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.duk-tech.medserv" versionCode="10" version="1.0.0">

		<!-- versionCode is optional and Android only -->

		<name>Medserv</name>

		<description>
			Medserv app.
		</description>

		<author href="https://build.phonegap.com" email="support@phonegap.com">
			DUK TECH
		</author>
		
		<gap:plugin name="org.apache.cordova.dialogs" />
		<gap:plugin name="org.apache.cordova.geolocation" />
		<gap:plugin name="org.apache.cordova.splashscreen" />
		
		<preference name="phonegap-version" value="cli-5.2.0" />
		<preference name="orientation" value="default" />
		<preference name="target-device" value="universal" />
		<preference name="fullscreen" value="true" />
		<preference name="webviewbounce" value="false" />

	<platform name="android">
		<!-- you can use any density that exists in the Android project -->
		<splash src="res/splash/splash.png" density="land-hdpi"/>
		<splash src="res/splash/splash.png" density="land-ldpi"/>
		<splash src="res/splash/splash.png" density="land-mdpi"/>
		<splash src="res/splash/splash.png" density="land-xhdpi"/>
		<splash src="res/splash/splash.png" density="port-hdpi"/>
		<splash src="res/splash/splash.png" density="port-ldpi"/>
		<splash src="res/splash/splash.png" density="port-mdpi"/>
		<splash src="res/splash/splash.png" density="port-xhdpi"/>
	</platform>

	<platform name="ios">
		<!-- images are determined by width and height. The following are supported -->
		<splash src="res/splash/splash.png" width="320" height="480"/>
		<splash src="res/splash/splash.png" width="640" height="960"/>
		<splash src="res/splash/splash.png" width="768" height="1024"/>
		<splash src="res/splash/splash.png" width="1536" height="2048"/>
		<splash src="res/splash/splash.png" width="1024" height="768"/>
		<splash src="res/splash/splash.png" width="2048" height="1536"/>
		<splash src="res/splash/splash.png" width="640" height="1136"/>
		<splash src="res/splash/splash.png" width="750" height="1334"/>
		<splash src="res/splash/splash.png" width="1242" height="2208"/>
		<splash src="res/splash/splash.png" width="2208" height="1242"/>
	</platform>

	<platform name="windows">
		<!-- images are determined by width and height. The following are supported -->
		<splash src="res/splash/splash.png" width="620" height="300"/>
		<splash src="res/splash/splash.png" width="1152" height="1920"/>
	</platform>

	<platform name="blackberry10">
		<!-- Add a rim:splash element for each resolution and locale you wish -->
		<!-- http://developer.blackberry.com/html5/documentation/rim_splash_element.html -->
		<rim:splash src="res/splash/splash.png"/>
	</platform>

	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />

		<icon src="icon.png" />
		<icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
		<icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
		<icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
		<icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
		<icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" />
		<icon src="res/icon/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
		<icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
		<icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
		<icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
		<icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
		<icon src="res/icon/ios/icon-180.png"         gap:platform="ios"        width="180" height="180" />
		<icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
		<icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
		<icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />

	</widget>